.about
{
    &__wrapper
    {
        text-align: center;
    }
    &__title
    {
        padding-bottom: 20px;
        color: $greyDarker;
        font-size: 2.4rem;
        line-height: 2;
        font-family: 'Lobster', cursive;

        &-border
        {
            display: block;
            margin: 0 auto 30px;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, .901961);
            background-color: #d3c6c6;
        }
    }
    &__content
    {
        margin: 0 auto;
        max-width: 600px;
        width: 90%;
        text-align: left;
    }
    &__h3
    {
        font-size: 1.3rem;
        margin: 0;
        font-weight: normal;
        color: $grey;
    }
    &__quote
    {
        padding: 0 10px;
        font-style: italic !important;
        font-size: 1rem !important;

        &--left
        {
            vertical-align: top;
        }
        &--right
        {
            vertical-align: bottom;
        }
    }
}
