.about
{
    &__wrapper
    {
        text-align: center;
    }
    &__title
    {
        padding-bottom: 20px;
        color: $greyDarker;
        font-size: 2.4rem;
        line-height: 2;

        &-border
        {
            display: block;
            margin: 0 auto 30px;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, .901961);
            background-color: #d3c6c6;
        }
    }
    &__photo
    {
        margin-bottom: 20px;

        img
        {
            @include border-radius(50%);

            width: 150px;
            height: 150px;
            border: .5px solid $grey;
        }
    }
    &__content
    {
        margin: 0 auto;
        max-width: 400px;
        width: 90%;
        color: $grey;
        text-align: center;
        font-style: italic;
        font-size: 1.4rem;
    }
    &__quote
    {
        padding: 0 10px;
        font-style: italic !important;
        font-size: 1.1rem !important;

        &--left
        {
            vertical-align: top;
        }
        &--right
        {
            vertical-align: bottom;
        }
    }
}
