.about
{
    &__wrapper
    {
        text-align: center;
    }
    &__title
    {
        padding-bottom: 20px;
        color: $greyDarker;
        font-size: 2.4rem;
        line-height: 2;

        &-border
        {
            display: block;
            margin: 0 auto 30px;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, .901961);
            background-color: #d3c6c6;
        }
    }
    &__photo
    {
        margin-bottom: 20px;

        img
        {
            @include border-radius(50%);

            width: 150px;
            height: 150px;
            border: .5px solid $grey;
        }
    }
    &__content
    {
        margin: 0 auto;
        max-width: 600px;
        width: 90%;
        text-align: center;
    }
    &__h2
    {
        font-size: 1.3rem;
        margin: 0;
        font-weight: normal;
        color: $greyDarker;
        padding-bottom: 20px;

        small{
            color: $grey;
            font-size: 70%;
            display: block;
        }
    }
    &__h3
    {
        font-size: 1.1rem;
        margin: 0;
        font-weight: normal;
        font-style: italic;
        color: $grey;
    }
    &__quote
    {
        padding: 0 10px;
        font-style: italic !important;
        font-size: 1rem !important;

        &--left
        {
            vertical-align: top;
        }
        &--right
        {
            vertical-align: bottom;
        }
    }

    &__slide
    {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;

        li
        {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            -webkit-backface-visibility: hidden;

            &:first-child
            {
                position: relative;
                display: block;
                float: left;
            }
        }
    }

}
