.footer
{
    margin: 0 auto;
    padding: 20px 0;
    background: $blackLight;
    color: #fff;

    &__wrapper
    {
        text-align: center;
    }
    &__text
    {
        font-size: .9rem;
    }
    &__list
    {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__icon
    {
        display: inline-block;
        margin: 0 5px;
        font-size: 1.6rem;

        i
        {
            color: #fff;
        }
    }
}
