.portofolio
{
    &__wrapper
    {
        text-align: center;
    }
    &__title
    {
        padding-bottom: 20px;
        color: $greyDarker;
        font-size: 2.4rem;
        line-height: 2;

        &-border
        {
            display: block;
            margin: 0 auto 30px;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, .901961);
            background-color: #d3c6c6;
        }
    }
    &__content
    {
        color: $grey;
        font-size: 1.6rem;
    }
    &__tab
    {
        @include clearfix();

        &-item
        {
            @include border-radius(2px);

            position: relative;
            display: inline-block;
            margin-bottom: 10px;
            padding: 9px 5px;
            width: 90px;
            background-color: $greyLight;
            color: $greyDarker;
            font-size: .8rem;
            cursor: pointer;

            &:hover
            {
                background-color: $blackLight;
                color: $white;
            }
            &--active
            {
                background-color: $blackLight;
                color: $white;

                &:before
                {
                    position: absolute;
                    bottom: -6px;
                    left: 42px;
                    display: inline-block;
                    border-top: 7px solid $blackLight;
                    border-right: 7px solid transparent;
                    border-left: 7px solid transparent;
                    content: '';
                }
            }
        }
    }
    &__box
    {
        &-wrapper
        {
            @include clearfix();

            margin: 0 auto;
            max-width: 80%;
        }
        &-inner
        {
            @include clearfix();
        }
        &-item
        {
            //padding: 15px;
            @include box-sizing(border-box);

            float: left;
            width: 24.9%;

            &:hover .portofolio__box-item-info
            {
                opacity: 1;
            }
            img
            {
                display: block;
                max-width: 100%;
                height: auto;
            }
            &-info
            {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                color: #fff;
                opacity: 0;
                -webkit-transition: opacity 400ms;
                        transition: opacity 400ms;
            }
            &-name
            {
                color: $white;
                text-decoration: none;
                font-size: 1.2rem;
            }
            &-title
            {
                font-size: 1.2rem;
                line-height: 2;
            }
            &-tag
            {
                font-size: .8rem;
            }
        }
    }
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item
{
    z-index: 2;
}
.isotope-hidden.isotope-item
{
    z-index: 1;
    pointer-events: none;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item
{
    -webkit-transition-duration: .8s;
       -moz-transition-duration: .8s;
        -ms-transition-duration: .8s;
         -o-transition-duration: .8s;
            transition-duration: .8s;
}
.isotope
{
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
}
.isotope .isotope-item
{
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
         -o-transition-property:      -o-transform, opacity;
            transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition
{
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling
{
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
