.skills
{
    $progress: 200;

    &__wrapper
    {
        text-align: center;
    }
    &__title
    {
        padding-bottom: 20px;
        color: $greyDarker;
        font-size: 2.4rem;
        line-height: 2;

        &-border
        {
            display: block;
            margin: 0 auto 30px;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, .901961);
            background-color: #d3c6c6;
        }
    }
    &__content
    {
        @extend %row;

        &-wrapper
        {
            width: 100%;
        }
    }
    &__item
    {
        @include clearfix();

        display: inline-block;
        padding: 5px;
        min-width: #{$progress+100}px;
        width: 40%;

        &-title
        {
            display: inline-block;
            padding-right: 10px;
            width: 80px;
            color: $grey;
            vertical-align: middle;
            text-align: left;
            font-size: 1rem;
        }
        &-progress
        {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: #{$progress}px;
            height: 20px;
            background-color: $greyLight;
            vertical-align: middle;

            &-fill
            {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: #{$progress}px;
                height: 20px;
                background-color: $blackLight;
            }
            &-value
            {
                color: #fff;
                text-align: center;
                font-size: 1rem;
                line-height: 1.3;
            }
        }
    }
}
