.about{
	
	&__wrapper{
		text-align: center;
	}

	&__title{
		font-size: 2.4rem;
		color: $greyDarker;
		padding-bottom: 20px;
		line-height: 2;

		&-border{
			display: block;
		    height: 1px;
		    width: 80px;
		    background-color: #d3c6c6;
		    margin: 0px auto 30px;
		    border-bottom: 1px solid rgba(255, 255, 255, 0.901961);
		}
	}

	&__photo{
	    margin-bottom: 20px;

		img{			    
			width: 150px;
    		height: 150px;
            border: .5px solid $grey;
            @include border-radius(50%);
		}

	}

	&__content{
		color: $grey;
		font-size: 1.4rem;
	    max-width: 400px;
	    width: 90%;
	    text-align: center;
	    margin: 0 auto;
	    font-style: italic;
	}

	&__quote{
		font-size: 1.1rem !important;
    	padding: 0 10px;
    	font-style: italic !important;

		&--left{
			vertical-align: top;
		}

		&--right{
			vertical-align: bottom;
		}

	}

}
