.experience
{
    &__wrapper
    {
        text-align: center;
    }
    &__title
    {
        padding-bottom: 20px;
        color: $greyDarker;
        font-size: 2.4rem;
        line-height: 2;

        &-border
        {
            display: block;
            margin: 0 auto 30px;
            width: 80px;
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, .901961);
            background-color: #d3c6c6;
        }
    }
    &__content
    {
        margin: 0 auto;
        color: $grey;
        text-align: center;
        font-size: 1.4rem;
    }
}

