.header
{
    @include box-shadow(0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15));

    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,.95294);

    &__brand
    {
        display: inline-block;
        float: left;
        padding: 5px 10px;

        img
        {
            width: 50px;
        }
    }
    &__nav
    {
        display: inline-block;
        float: right;
        padding: 16px 10px;

        &--desktop
        {
            display: block;

            @media screen and (max-width:640px)
            {
                display: none;
            }
        }
        &--mobile
        {
            display: none;

            @media screen and (max-width:640px)
            {
                display: block;
            }
        }
        &-btn
        {
            @include rotate(0deg);
            @include transition(.5s ease-in-out);

            position: relative;
            margin: -5px;
            width: 60px;
            height: 45px;
            cursor: pointer;

            span
            {
                @include rotate(0deg);
                @include transition(.25s ease-in-out);

                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: 5px;
                background: $blackLight;
                opacity: 1;

                &:nth-child(1)
                {
                    top: 0;
                }
                &:nth-child(2),
                &:nth-child(3)
                {
                    top: 18px;
                }
                &:nth-child(4)
                {
                    top: 36px;
                }
            }
            &--close
            {
                span
                {
                    &:nth-child(1)
                    {
                        top: 18px;
                        left: 50%;
                        width: 0;
                    }
                    &:nth-child(2)
                    {
                        @include rotate(45deg);
                    }
                    &:nth-child(3)
                    {
                        @include rotate(-45deg);
                    }
                    &:nth-child(4)
                    {
                        top: 18px;
                        left: 50%;
                        width: 0;
                    }
                }
            }
        }
        ul
        {
            margin: 0;
            padding: 0;
            list-style: none;

            li
            {
                display: inline-block;
                margin-right: 1.2em;

                a
                {
                    color: #000;
                    text-decoration: none;
                    font-size: 1.2rem;

                    &:hover
                    {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
