.main{
	
	&__swipper{
		overflow: hidden;
		display: block;
		@include clearfix(); 
	}

	&__about{
		padding-top: 20px;
		@extend %row;
		display: block;
	}

	&__portofolio{
		padding-top: 20px;
		@extend %row;
		display: block;
	}

	&__skills{
		padding-top: 20px;
		@extend %row;
		display: block;
	}

}