.main{
	
	&__swipper{
		overflow: hidden;
		display: block;
		@include clearfix(); 
	}

	&__about{
		@extend %row;
		padding: 20px 0 50px;
		display: block;
	}

	&__portofolio{
		@extend %row;
		padding: 20px 0;
		display: block;
		background-color: $greyLighter;
	}

	&__skills{
		@extend %row;
		padding: 20px 0;
		display: block;
	}

}