
.offcanvas{
	display: none;
	background-color: $blackLight;
    position: fixed;    
    right: 0;
    z-index: 1001;
    width: 280px;
    height: 100%;

    ul{
		margin: 0;	
		padding: 0;	
		list-style: none;	

		li{
		    display: block;
			padding: 20px 20px 0px 30px;

			a{
				text-decoration: none;
				font-size: 1.5rem;
				color: #fff;
			}

		}

	}
}