.skills{

	&__wrapper{
		text-align: center;
	}

	&__title{
		font-size: 2.4rem;
		color: $greyDarker;
		padding-bottom: 20px;
		line-height: 2;

		&-border{
			display: block;
		    height: 1px;
		    width: 80px;
		    background-color: #d3c6c6;
		    margin: 0px auto 30px;
		    border-bottom: 1px solid rgba(255, 255, 255, 0.901961);
		}
	}

	&__content{
		@extend %row;

		&-wrapper{
			width: 100%;
		}
	}

	$progress: 200;
	&__item{
		@include clearfix();
		display : inline-block;
    	width: 40%;
    	min-width: #{$progress+100}px;
    	padding: 5px;

		&-title{
			display: inline-block;
		    vertical-align: middle;
		    color: $grey;
			font-size: 1rem;
		    padding-right: 10px;    
		    width: 80px;
    		text-align: left;
		}


		
		&-progress{
			display: inline-block;
		    vertical-align: middle;
			position: relative;
		    background-color: $greyLight;
		    width: #{$progress}px;
		    height: 1em;
		    z-index: 1;

		    &-fill {
		        width: #{$progress}px;
		        background-color: $blackLight;
		        position: absolute;
		        left: 0;
		        top: 0;
		        height: 1em;
		        z-index: 2;
		    }

		    &-value{
		    	text-align: center;
		    	color: #fff;
		    	font-size: 1.1rem;
		    }

		}
	    
	}
}
