.skills{

	&__wrapper{
		text-align: center;
	}

	&__title{
		font-size: 2.4rem;
		color: $greyDarker;
		padding-bottom: 20px;
		line-height: 2;

		&-border{
			display: block;
		    height: 1px;
		    width: 80px;
		    background-color: #d3c6c6;
		    margin: 0px auto 30px;
		    border-bottom: 1px solid rgba(255, 255, 255, 0.901961);
		}
	}

	&__content{
		@extend %row;

		&-wrapper{
			width: 100%;
		}
	}

	&__item{
		@include clearfix();
		display : inline-block;
    	width: 40%;
    	min-width: 300px;
    	padding: 5px;

		&-title{
			display: inline-block;
		    vertical-align: middle;
		    color: $grey;
			font-size: 1rem;
		    padding-right: 10px;    
		    width: 80px;
    		text-align: left;
		}


		$progress: 200;
		&-progress{
			display: inline-block;
		    vertical-align: middle;
			position: relative;
		    width: #{$progress}px;
		    height: 12px;

		    &--empty {
		        width: #{$progress}px;
		        height: 12px;
		        background-color: $greyLight;
		        position: absolute;
		        left: 0;
		        top: 0;
		        z-index: 1;
		    }

		    &--full {
		        width: #{$progress}px;
		        height: 12px;
		        background-color: $black;
		        position: absolute;
		        left: 0;
		        top: 0;
		        z-index: 2;
		    }


		    &--js{
		    	width: #{$progress* 80/100}px;
		    }
		    &--angular{
		    	width: #{$progress* 70/100}px;
		    }
		    &--html{
		    	width: #{$progress* 90/100}px;
		    }
		    &--css{
		    	width: #{$progress* 70/100}px;
		    }
		    &--sass{
		    	width: #{$progress* 80/100}px;
		    }


		    &--java{
		    	width: #{$progress* 70/100}px;
		    }
		    &--node{
		    	width: #{$progress* 60/100}px;
		    }
		    &--php{
		    	width: #{$progress* 50/100}px;
		    }
		    &--mysql{
		    	width: #{$progress* 60/100}px;
		    }
		    &--mongo{
		    	width: #{$progress* 40/100}px;
		    }
		}
	    
	}
}
