.swipper{
	position: relative;

	.next , .prev {
        display: inline-block;
        position: absolute;
        top: 30%;
        z-index: 10;
        background-color: rgba(28, 27, 27, 0.5);
        color: #fff;
        padding: 20px;
        
        i{
            font-size: 2.4rem;
        }

    }
        
    .next {
        right: 0;
    }
    
    .prev {
        left: 0;
    }

	&__slide{
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;    

        li {
            -webkit-backface-visibility: hidden;
            position: absolute;
            display: none;
            width: 100%;
            left: 0;
            top: 0;

            &:first-child {
                position: relative;
                display: block;
                float: left;
            }
        }

        img {
            display: block;
            height: auto;
            float: left;
            width: 100%;
            border: 0;
        }
    }
	
}


