.swipper{

		&__wrapper{
			position:relative;
		}

		&__img{
			width: 100%;
			display: none;

			&--show{
			  display: block;


			  -webkit-animation-duration: .5s;
			  animation-duration: .5s;
			  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;

			  -webkit-animation-name: slideInRight;
			  animation-name: slideInRight;
			}

		}

		&__btn{
			position:absolute;
			top:45%;
		    font-size: 3.4rem;
		    color: #fff;
		    cursor: pointer;
		    opacity: .5;

		    &:hover{
		    	opacity: .8;
		    }
			

			&--left{
				left:2%;
			}

			&--right{
				right:2%;
			}

			@media screen and (max-width:640px) {
				display: none;
			}

		}
	}


@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
