.swipper
{
    position: relative;

    .next,
    .prev
    {
        position: absolute;
        top: 30%;
        z-index: 10;
        display: inline-block;
        padding: 20px;
        background-color: rgba(28, 27, 27, .5);
        color: #fff;

        i
        {
            font-size: 2.4rem;
        }
    }
    .next
    {
        right: 0;
    }
    .prev
    {
        left: 0;
    }
    &__slide
    {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;

        li
        {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            -webkit-backface-visibility: hidden;

            &:first-child
            {
                position: relative;
                display: block;
                float: left;
            }
        }
        img
        {
            display: block;
            float: left;
            width: 100%;
            height: auto;
            border: 0;
        }
    }
}
