
@import 'helper/normalize';
@import 'helper/vars';
@import 'helper/mixins';
@import 'helper/grid';

.site
{
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Roboto Condensed', serif;

    &__main
    {
        margin-top: 60px;
    }
    &--overflow-hidden
    {
        overflow: hidden;
    }
}

@import 'blocks/header';
@import 'blocks/offcanvas';
@import 'blocks/main';
@import 'blocks/swipper';
@import 'blocks/about';
@import 'blocks/portofolio';
@import 'blocks/skills';
@import 'blocks/experience';
@import 'blocks/speakerat';
@import 'blocks/footer';
