
@import 'helper/normalize';
@import 'helper/vars';
@import 'helper/mixins';
@import 'helper/grid';

.site
{
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Roboto Condensed', serif;

    &__main
    {
        margin-top: 60px;
    }
    &--overflow-hidden
    {
        overflow: hidden;
    }
}

@import 'partial/header';
@import 'partial/offcanvas';
@import 'partial/main';
@import 'partial/swipper';
@import 'partial/about';
@import 'partial/portofolio';
@import 'partial/skills';
@import 'partial/experience';
@import 'partial/speakerat';
@import 'partial/footer';
