
.site {
	margin: 0;
	font-family: 'Roboto Condensed', serif;
	font-size: 1.4rem;

	&__header {}
	&__main {
		margin-top: 60px;
		padding-top: 30px;
		margin-bottom: 30px;
	}
	&__footer {}
	
}

@import "partial/header";
@import "partial/main";
@import "partial/footer";