
@import "helper/vars";
@import "helper/mixins";
@import "helper/grid";

.site {
	margin: 0;
	font-family: 'Roboto Condensed', serif;
	font-size: 1.4rem;

	&__header {}
	&__offcanvas {}
	&__main {
		margin-top: 60px;
	}
	&__footer {}

	&--overflow-hidden{
		overflow: hidden;
	}
	
}

@import "partial/header";
@import "partial/offcanvas";
@import "partial/main";
@import "partial/swipper";
@import "partial/about";
@import "partial/portofolio";
@import "partial/skills";
@import "partial/footer";